@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";


body {
  background-color: #de6c83;
  margin-left: 200px;
  margin-right: 200px;
  font-family: "Source Code Pro", monospace;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 30px;
  margin-bottom: 8px;
}